<% @user ||= current_user %>
<div class="stats">
  <%= link_to "#{@user.following.count}  #{t("follow_result")}",
    relationships_path(id: @user.id, type: :following),
    remote: :true, id: "following" %>
  <%= link_to "#{@user.followers.count} #{t("follower_result")}",
    relationships_path(id: @user.id, type: :followers),
    remote: :true, id: "followers" %>
</div>
