<<<<<<< HEAD
<% provide(:title, @user.fullname) %>
=======
<% provide :title, @user.fullname %>
>>>>>>> 16195f6727485a444b22168cfcb4c26175e175d0
<h1>
  <%= gravatar_for @user %>
  <%= @user.fullname %>
</h1>

